/* siteheader */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

header {
    height: 50px;
    background-color: #ADD8E6;
    display: flex;
    justify-content: center;

}


#id-header {
    width: 80%;
    background-color: #DAA520;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;

}

    





/* endheader */

/* sitemain */
.debug main {
    background-color: fuchsia;
    width: 50%;
    height: 300px;
    margin: 20px
}


/* firstcontainer */
.container {
    display: flex;
    background-image: url(../jumbo.png);   
    justify-content: center;

}

/* endpart */

/* container1 */
.contanier1 {
    display: flex;
    background-color: #fff;
    height: 400px;
    justify-content: center;
}




.figlio {
    background-color: #1e90ff;
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;

}



.figlio1 {
    background-color: #FFC0CB;
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;

}

/* endpart */

/* container2 */
.contanier2 {


    display: flex;
    background-color: #D3D3D3;
    height: 400px;
    justify-content: center;
    flex-direction: row-reverse;

}

#figlio2 {
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #228B22;


}

/* endpart */


/* container3 */
.contanier3 {
    display: flex;
    background-color: black;
    height: 350px;
    justify-content: center;


}





#figlio4 {
    width: 10%;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: #228B22;


}




#figlio3 {
    width: 20%;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: #F08080;

}

/* endpart */

/* endmain */



/* sitefooter */

#container4{
    display: flex;
    background-color: black;
    height: 45px;
    justify-content: center;
    margin-top: 1px;
   
}


#figlio5{
    width: 50%;
    background-color:#7FFFD4;
    margin-top: 15px;

}

/* endfooter */







.link{
    list-style: none;
	display: flex;
    justify-content: center;
	gap:  2rem;
    color:white;


}


.menu{

    margin-left: 18rem;
    color: black;
    border: 3px solid white;
    border-radius: 2rem;
    background-color: white;
    padding: 5px;
   


}


.logo{
    gap: 2rem;
    margin-right: 20rem;
    color: white;
}


